* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.jobApplicationSection {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 9%);
    border: 1px solid #068ff727;;
    border-radius: 10px;
    padding: 60px 40px;
}

.jobApplicationTitle {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.jobApplicationTitle h2 {
    font-size: 28px;
    color: #068FF7;
    transition: all .5s ease-in-out;
}
.jobApplicationTitle:hover h2 {
    letter-spacing: 3px;
}


.jobApplicationForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.applicationForm {
    display: flex;
    flex-direction: column;
}
textarea {
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 15%);
    border: 1px solid #068ff74e;
    font-weight: bold;
    color: #828282;
    letter-spacing: 1.5px;
    transition: all .3s ease-in-out;
}

input:focus, textarea:focus, select:focus{
    box-shadow: 0px 4px 40px rgb(0 0 0 / 30%);
    outline: #068ff7;
    border: 1px solid #068ff7;
}

select>option {
    font-weight: bold;
    color: #828282;
    letter-spacing: 1.5px;
}


.applicationButton {
    text-align: end;
}

.applicationButton button {
    background-color: #068ff7;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 15%);
    padding: 10px 40px;
    margin: 40px 0 0 0;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.applicationButton button:hover {
    box-shadow: 0px 4px 40px rgb(0 0 0 / 30%);
    transform: translateX(-10px);
}







@media (max-width: 670px) {
    .jobApplicationSection {
        padding: 20px 10px;
    }
    input, select, textarea {
        width: 100%;
    }
    .jobApplicationForm {
        grid-template-columns: repeat(1, 1fr);
    }
}













